{% block title %}Administration: création et modifications de films{% endblock %}

{% extends 'baseAdministration.html.twig' %}

{% block extra_content_bouton_creation_film %}
    <button id="btn-plus" class="btn bi bi-plus-circle-dotted fs-1 mx-3"></button>
    <a class="btn-admin mx-3 justify-content-center text-decoration-none" href="{{ path('app_administration_account_employe') }}">Compte employé</a>
    <a class="btn-admin mx-3 justify-content-center text-decoration-none">Données réservations</a>
{% endblock %}

{% block body %}
    <div class="container-fluid container-films">
        <div id="card-container" class="row justify-content-center px-5 py-3" style="gap: 0 3rem">
        </div>
    </div>
{% endblock %}

